:root{
	--base-size: 12px;
	--gutter-size: calc(3 * var(--base-size))

	--color--primary: black;
	--color--secondary: gold;
	--color--background: white
}

header{
	background-color: var(--color--background);
}

.gutters{
	padding-inline: var(--gutter-size);
}