/* :root{
	--base-size: 12px;
	--gutter-size: calc(3 * var(--base-size));

	--color--primary: black;
	--color--secondary: gold;
	--color--background: tomato;
}

header{
	background-color: var(--color--background);
	padding-block: calc(5 * var(--base-size));
}

footer{
	background-color: var(--color--secondary);
	padding-top: var(--base-size);
	padding-bottom:  calc(5 * var(--base-size));
}

.gutters{
	padding-inline: var(--gutter-size);
} */

/*fix position*/
video{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	z-index: -2;
	pointer-events: none;
}

.overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.3);
	z-index: -1;
}

/*contains main+footer*/
.wrapper{
	min-height: 80vh;
	display: flex;
	flex-direction: column;
}

/*top right text*/
header{
	position: absolute;
	top: 1rem;
	right: 1.5rem;
	font-size: 0.9rem;
	font-weight: 500;
	color: white;
}

/*5 projects*/
main{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

main h2{
	font-size: 1.8rem;
	font-weight: bold;
	margin-bottom: 2rem;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	color: white;
}

main ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

main li{
	margin: 1rem 0;
}

main a p{
	color: white;
	font-size: 1.2rem;
	font-weight: 500;
	margin: 0;
		text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

footer{
	text-align: left;
	padding: 1rem 1.5rem;
	font-size: 0.8rem;
	color: white;
}